/.idea
/.venv
/hahow/full_LLM/.ipynb_checkpoints
/test_case
/.vscode
/Bucks2Bar/node_modules
/Bucks2Bar/.env
#/NLP/hw2/glove.6B.50d.txt.zip
#/NLP/hw2/glove.6B.50d.txt
/.gitattributes

/NLP/hw1/__pycache__
/NLP/hw2/glove.6B.300d.txt
/NLP/hw2/glove.6B.300d.txt.zip
/NLP/hw2/glove_300d_symspell_dictionary.txt
/NLP/hw2/pred_test_output